@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-image: url('../images/Fate-Stay-Night-Wallpaper-High-Quality-HD.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin: 0;
}

#wrapper {
	width: 100%;
	text-align: center;
}

#menubar {
	background-color: #111331;
}

#menubar ul {
	font-size: 0;
}

#menubar li {
	display: inline-block;
	line-height: 70px;
	padding: 0 40px;
}

#menubar a {
	text-decoration: none;
	font-family: 'Roboto';
	color: #fafa1f;
}

#content {
	width: 100%;
}